@media (max-width: 768px) {
    .container {
        width: 66.6%;
    }
    .header__container {

    }
    .navigation__container {
        display: flex;
        flex-direction: column;
               
    }
    .nav-li {
        display: inline;
        margin-left: 0px;
    }
    .title-text-padding {
        padding-top: 20px;
    }

    .main-left-title {
        text-align: center;
    }

    .main-left-span-margin {
        margin-top: 20px;
        text-align: center;

    }
    .main__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .main-margin {
        margin-top: 20px;
    }    

    .line-margin {
        margin: 0 auto;
        margin-top: 19px;
    }

    .services__container {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        align-items: center;
    }

    .services-text-margin {
        margin-left: 0px;
        text-align: center;
    }

    .activity__container {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        align-items: center;
    }

}

